body{
    background-color: black;
    display: flex;
    justify-content: center;
}
.div{
    height: 80vh;
    width: 70%;
    background-color: aliceblue; 
   border-radius: 15px;
   margin-top: 50px;
}
table{
    border-collapse: collapse;
}
.heading{
    text-align: center ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.table th,tr,td{
    padding: 10px 20px;
    
}
.table,th,tr,td{
    border: 2px solid black;
   
    
}
#table{
    margin: 50px 360px;
    border-collapse: collapse;
}